<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Вход - CodeBusters</title>
  <link rel="stylesheet" href="styleindex.css" />
</head>
<body>

<header>
  <div class="logo"><a href="index.html">CodeBusters</a></div>
</header>

<div class="container">
  <div class="containerlog">
    <h2>Вход</h2>
    <form class="form" id="form">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="passwords" placeholder="Парола" required />
      <button type="submit" class="btn">Влез</button>
    </form>
    <p>Нямаш профил? <br> <a href="register.html"> Регистрирай се от тук</a>.</p>
  </div>
</div>

<div class="footer">
  <p>&copy;Направено от Камен и Георги най-добрите програмисти</p>
</div>

<script src="scriptlogin.js"></script>

</body>
</html>
