<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Регистрация - CodeBusters</title>
  <link rel="stylesheet" href="styleindex.css" />
</head>
<body>

<header>
  <div class="logo"><a href="index.html">CodeBusters</a></div>
</header>

<div class="container">
  <div class="containerlog">
    <h2>Регистрация</h2>
    <form class="form" method="POST" action="http://127.0.0.1:3000/register">
      <input type="text" name="names" placeholder="Име" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="passwords" placeholder="Парола" required />
      <button type="submit" class="btn">Регистрирай се</button>
    </form>
    <p>Вече имаш профил! <br> <a href="login.html"> Влез от тук</a>.</p>
  </div>
</div>

<div class="footer">
  <p>&copy;Направено от Камен и Георги най-добрите програмисти</p>
</div>

</body>
</html>
